!!!
%html
  %head
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'}

    <!-- Bootstrap -->
    %link{rel: 'stylesheet', type: 'text/css', href: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css'}
    %script{src: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'}

    <!-- Here Maps -->
    %script{src: 'http://js.cit.api.here.com/se/2.5.4/jsl.js?with=all'}

    <!-- Leaflet -->
    %script{src: 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js'}
    %script{src: '/leaflet-knn.min.js'}
    %title
      = @title
  %body{style: 'background-image: url("/geometry2.png");'}
    = yield
