%div.jumbotron{style: 'padding: 28px;'}
  %div.container
    %h4
      %span.glyphicon.glyphicon-pushpin
      Fancy a Ride?
    Glasgow's Open Transport Data, visualised.
    %div{style: 'float: right;'}
      %button.btn.btn-warning#relocate_me
        Re-locate
      %button.btn.btn-success#cycle_toggle{disabled: 'disabled'}
        Cycling
      %button.btn.btn-primary#walk_toggle
        Walking

%div.container
  %hr
  %div.row
    %div.col-md-12
      %div#mapContainer{style: 'width: 100%; height: 420px'}
        %script{src: '/root.js'}
  %hr
  %div.row
    %div.col-md-6#rack_buttons
      %h5
        %span.glyphicon.glyphicon-off
        Need to find somewhere to park your bike?
      %button.btn.btn-info#cycle_racks
        Show all cycle-racks
      %button.btn.btn-success#find_nearest
        Direct me to the nearest cycle-rack
    %div.col-md-6
      %h5
        %span.glyphicon.glyphicon-star-empty
        Looking for something specific?
      Direct me to a nearby
      %div.btn-group.dropup
        %button.btn.btn-default.dropdown-toggle#poi_button{'data-toggle' => 'dropdown'}
          place of interest
          %span.caret
        %ul.dropdown-menu
          %li
            %a#find_me_a_bikeshop{href: '#'}
              Bike Shop
          %li
            %a#find_me_a_loo{href: '#'}
              Public Toilet
          %li
            %a#find_me_a_station{href: '#'}
              Rail Station
          %li
            %a#find_me_a_takeaway{href: '#'}
              Takeaway
      %span#via_cycle_text
        via a cycle-rack [R].
      %button.btn.btn-danger#clear_poi{style: 'display: none;'}
        Clear

