%div.jumbotron
  %div.container
    %h4
      %span.glyphicon.glyphicon-pushpin
      Open Data Mapping Demo
    Glasgow Open Transport Data visualised using the HERE Maps API.

%div.container
  %div.row
    %div.col-md-12
      %div#mapContainer{style: 'width: 100%; height: 420px'}
        %script{src: '/root.js'}
  %div.row
    %div.col-md-6
      %h5
        %span.glyphicon.glyphicon-off
        Need to find somewhere to park your bike?
      %button.btn.btn-info#cycle_racks
        Show all cycle-racks
      %button.btn.btn-success#find_nearest
        Direct me to the nearest cycle-rack
    %div.col-md-6
      %h5
        %span.glyphicon.glyphicon-star-empty
        Looking for something else?
      %h5{style: 'margin-top: 16px; display:inline;'}
        Find me a nearby
      %div.btn-group.dropup
        %button.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown'}
          place of interest
          %span.caret
        %ul.dropdown-menu
          %li
            %a#find_me_a_loo{href: '#'}
              Public Toilet
