%div.jumbotron
  %div.container
    %h2
      MapHax Demo
    Data visualised using the HERE Maps API.
    %hr
    %button.btn#cycle_racks
      Show cycle racks

%div.container
  %div#mapContainer{style: 'width: 100%; height: 480px'}
  %script{src: '/root.js'}
