%div.jumbotron
  %div.container
    %h2
      MapHax Demo
    Glasgow Open Transport Data visualised using the HERE Maps API.
    %hr
    %button.btn#cycle_racks
      Show all cycle-racks
    %button.btn#find_nearest
      Direct me to the nearest cycle-rack

%div.container
  %div#mapContainer{style: 'width: 100%; height: 480px'}
  %script{src: '/root.js'}
